.mini-bar{
    width: 100%;
    height: 24px;
    background-color: #353535;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mini-bar p{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #fff;
}

@media(max-width:320px){
    .mini-bar p{
        font-size: 10px;
    }
}