
.marcas{
    width: 100%;
    height: 64px;
}

.img-marcas{
    display: flex!important;
    align-items: center;
    justify-content: center;

}

.img-marcas .slick-list{
    height: 64px;
}

.img-marcas img{
    width: 250px!important;
    height: 64px;
}

@media (max-width:425px){
    .img-marcas img{
        box-shadow: -9px 11px 12px -9px rgba(0,0,0,0.47);
    }
    .img-marcas .slick-current img{
        box-shadow: none;
    }
}