.marcas{
    width: 100%;
    height: 64px;
    padding: 0 6%;
}

.img-marcas{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.img-marcas img{
    width: 250px;
    height: 100%;
}

@media (max-width:1230px){
    .marcas{
        height: 100%;
        padding: 0;
        padding-left: 20px;
    }
    .img-marcas{
        width: 100%;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: thin;
        
    }
    .img-marcas::-webkit-scrollbar-thumb{
        background-color: #efefef;
    }
}