.tipbar .slick-list {
    height: 64px;
}

.tipbar{
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.box-tipbar{
    display: flex!important;
    align-items: center;
    justify-content: space-evenly;
    width: 300px!important;
    height: 64px;
    background-color: #efefef;
    margin: 0 10px;
}

.box-tipbar img{
    width: 32px;
    height: 32px;
}

.box-tipbar p{
    white-space: nowrap; 
    font-weight: 400;
    font-size: 12px;
    line-height: 18.25px;
    color: #000;
}

.box-tipbar p strong{
    font-weight: 700;
    font-size: 14px;
    line-height: 21.29px;
}
@media (min-width:2000px){
    .box-tipbar{
        width: 380px!important;
    }
}
@media (max-width:1730px){
    .box-tipbar{
        width: 280px!important;
    }
} 
@media (max-width:1630px){
    .box-tipbar{
        width: 240px!important;
    }
} 
@media (max-width:425px){
    .box-tipbar{
        width: 308px!important;
    }
}